# 📝 Plantilla de Configuración de Entorno
# Copia este archivo como '.env' para usar Supabase.
# Si no existe el archivo .env, el sistema usará H2 (Local) automáticamente.

# Configuración de Base de Datos (Opcional)
DB_PASSWORD=tu_password_de_supabase
SPRING_DATASOURCE_URL=jdbc:postgresql://db.vgyqctkucenzhrjvowzr.supabase.co:5432/postgres
SPRING_DATASOURCE_USERNAME=postgres
SPRING_JPA_DIALECT=org.hibernate.dialect.PostgreSQLDialect
SPRING_DATASOURCE_DRIVER=org.postgresql.Driver
